src/__pycache__
docs/report.aux
docs/report.log
docs/report.out
backup
.pytest_cache/
.eggs/
malcom.egg-info/
output/
.cache/
/Pipfile.lock
.*.swp
*.pyc
*.pyo

# these are either directories with too much data,
# or symlinks to such
/data
/models
