[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">= 1.15"
matplotlib = ">= 2.2"
python-levenshtein = ">= 0.12"
pytest = ">= 3.6"
pyyaml = ">= 3.13"
setuptools = "*"
malcom = {editable = true, path = "."}
ipython = ">= 0.2"
lz4 = ">= 2.1"

[dev-packages]

[requires]
python_version = "3.6"
